*{

margin:  0;
padding: 0;
}

.navbar{
  height: 100px;
  width: 100%;
  color: rgb(151, 26, 70);
  display:flex;
  justify-content: space-between;
  color: white;
  background-color: black;
  align-items: center;
}
.navlink{
  
  display: flex;
  margin: auto;
  width: 30%;
  justify-content: space-between;
 
  /* background-color: green; */
  
}
.links{
  color: white;
  text-decoration: none;
}
.btn{
  height: 40px;
  width: 90px;
  background-color: teal;
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-right: 40px;
  padding: 10px;
  cursor: pointer;
  

}

.logo{
  height: 40px;
  font-size: 27px;
  width: 90px;
  display: flex;
  align-items: center;
  margin-left: 60px;
}